@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    color: #000000;
    background-color: #EDF1EC;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: var(--font-urbanist), sans-serif;
}

.innerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullNameContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullName {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    color: #000000;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.3;
    padding: 0.2em 0;
}

.fullName span {
    position: relative;
    top: 0px;
    display: block;
}

.shortNameContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shortName {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    color: #000000;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.3;
    padding: 0.2em 0;
}

.shortName span {
    position: relative;
    top: 12vw;
    display: block;
}

.progressContainer {
    bottom: 2svh;
    right: 5vw;
    position: absolute;
}

.progress {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    color: #000000;
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.2;
    padding: 0.1em 0;
}

.progress span {
    position: relative;
    top: 0px;
    display: block;
}